html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.hero {
  width: 100%;
  color: #333;
}
.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 12px;
  line-height: 1.15;
  font-size: 37px;
}
.title,
.description {
  text-align: center;
}
.row {
  max-width: 587px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  padding: 18px 18px 24px;
  width: 220px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  border: 1px solid #9b9b9b;
}
.card:hover {
  border-color: #067df7;
}
.card h3 {
  margin: 0;
  color: #067df7;
  font-size: 18px;
}
.card p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}

.defaultInput {
  // background: #F5F8FA;
  background: red;
  border-radius: 6px;
  height: 38px;
}

.input-error {
  border: 1px solid #ff5353 !important;
}

.text-error {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: #ff5353;
  letter-spacing: 0;
  margin-top: 16px;
}

input.ant-input::placeholder {
  font-family: "OpenSans-Light";
  font-size: 15px;
  color: #4f5460;
  letter-spacing: 0;
}

textarea.ant-input::placeholder {
  font-family: "OpenSans-Light";
  font-size: 15px;
  color: #4f5460;
  letter-spacing: 0;
}

.ant-picker-input input::placeholder {
  font-family: "OpenSans-Light";
  font-size: 15px;
  color: #4f5460;
  letter-spacing: 0;
}

.ant-select .ant-select-selection-placeholder {
  font-family: "OpenSans-Light";
  font-size: 15px;
  color: #20282f;
  letter-spacing: 0;
}

.no-padding {
  padding: 0 !important;
}
.root-step {
  width: 800px;
  margin: auto;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .root-step {
    width: 100% !important;
    padding-top: 80px !important;
  }
}
.no-display {
  display: block;
}
.right-row-action {
  display: flex;
  padding-left: 0px !important;
  justify-content: center;
}

@media (max-width: 767px) {
  .no-display {
    display: none !important;
  }
  .right-row-action {
    justify-content: center;
    margin-top: -8px;
    padding-left: 0px !important;
  }
}

.ModalConfirm {
  .ant-modal-content {
    border-radius: 8px;
    .ant-modal-close {
      display: none !important;
    }

    .ant-modal-body {
      display: none !important;
    }

    .ant-modal-header {
      border-bottom: none !important;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 20 !important;
      text-align: center !important;
      .ant-modal-title {
        color: #4f5460 !important;
        letter-spacing: 0;
        line-height: 24px;
        font-size: 15px;
      }
    }

    .ant-modal-footer {
      padding: 0 !important;
    }
  }
}

.welcome-bg-img {
  background-image: url("../../static/images/welcome/banner@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-pc {
  background-image: url("../../static/images/logo/pc_bbae.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 50px;
}

.logo-mobile {
  background-image: url("../../static/images/logo/mobile_bbae.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 50px;
}

.divLogo {
  margin-bottom: 90px;
  margin-top: 30px;
}

.divLogoRegister {
  margin-bottom: 120px;
  margin-top: 30px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

iframe {
  border: none !important;
  overflow: hidden !important;
}
