.UploadComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background: #f7f9fb;
  border-radius: 9px;
  .IconClick {
    cursor: pointer;
  }
}

.titleInforUpload {
  font-family: OpenSans-Light;
  font-size: 15px;
  color: #111C24;
  letter-spacing: 0;
  text-align: center;
}
.iconPlus {
  // margin-left: 10px;
  font-size: 25px;
  color: #79bdff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}

@media only screen and (max-width: 776px) {
  .iconPlus {
    // margin-left: 10px;
    font-size: 25px;
    color: #79bdff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}
