$base-color: #49a5ff;

.SubmittedSuccess {
  .bg {
    height: 400px;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .textTitle {
      font-family: "OpenSans-SemiBold";
      font-size: 32px;
      letter-spacing: 0;
      text-align: center;
      position: absolute;
      bottom: 125px;
      color: #ffffff;
      font-size: 32px;
      width: 462px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    .wrapperText {
      font-family: "OpenSans-Regular";
      font-size: 13px;
      color: #111c24;
      letter-spacing: 0;
      width: 327px;
      text-align: center;
      margin: auto;
    }
    .wrapperContent1 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 42px;
      .wrapperText {
        margin-bottom: 20px;
      }
    }
    .wrapperContent2 {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 767px) {
    .textTitle {
      width: auto !important;
    }
    .content {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
    }
  }
}
